body {
    background-color: #fbffe6;
}

h1, h2 {
    font-family: "Lucida Handwriting", "Monoline Script", cursive;
    color: #ff66a3;
    margin-left: 4%;
    background-color: white;
    width: 88%;
    height: auto;
    font-style: bold; 
    padding: 2%;
    overflow-wrap: break-word;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

h2 {
    margin-top: 5%;
}
p {
    padding: 1%;
    background-color: white;
    width: 90%;
    overflow-wrap: break-word;
    margin-left: 4%;
    font-family: Calibri, Karla, sans-serif;
}

#topcontainer {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 4%;
    background-color: #fff6fb;
    width: 22%;
    padding: 0.5%;
    font-family: Karla, Calibri, sans-serif;
    font-size: 20px;
    
}


#topcontainertext {
    background-color: transparent;
    font-size: 20px;
    font-family: Karla, Calibri, sans-serif;
}

#Bottom {
    padding-top: 5%;
    padding: 1%;
    background-color: #ffe9f6;
    width: 100%;
    font-family: Karla, Calibri, sans-serif;
}

#credits {
    font-size: 20px;
    margin-left: 3%;  
    background-color: transparent;
}

#aboutme {
    font-size: 20px;
    margin-top: 3%;
    margin-left: 3%;
    background-color: transparent;
}


#w3c {
    width: 10%;
    padding: 0%;
    margin-left: 3%;
    margin-top: 5%;  
}

#css {
    width: 9.7%;
    padding: 0%;
    margin-left: 3%;
    margin-top: 5%;
}