h1, h2 {
    font-family: "Lucida Handwriting", "Monoline Script", cursive;
    color: #ff66a3;
    margin-left: 2%;
    background-color: white;
    width: 95%;
    height: auto;
    font-style: bold; 
    padding: 2%;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

h2 {
    margin-top: 5%;
}
p {
    padding: 1%;
    background-color: white;
    width: 95%;
    overflow-wrap: break-word;
    margin-left: 2%;
    font-family: Calibri, Karla, sans-serif;
}

#topcontainer {
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 6%;
    background-color: #fff5fb;
    width: 20%;
    
}

#Bottom {
    padding-top: 5%;
    padding: 1%;
    background-color: #ffe9f6;
    padding: 5%;
    width: 100%;
}

body {
    background-color: #fbffe6;
}

#credits {
    font-size: 20px;  
}

#aboutme {
    font-size: 20px;
    margin-top: 3%;
}

img {
    width: 60%;
    height: auto;
    margin-left: 3%;
    border-color: #ffacdd;
    padding: 2%;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    display: table;
    margin: auto;
} 

#w3c {
    width: 10%;
    padding: 0%;
    margin-left: 0.1%;
    margin-top: 5%;  
}

#css {
    width: 9.7%;
    padding: 0%;
    margin-left: 0.1%;
    margin-top: 5%;
}