body {
    background-color: #fbffe6;
}

h1 {
	font-family: "Lucida Handwriting", "Monoline Script", cursive;
    color: #ff66a3;
    margin-left: 2%;
    background-color: white;
    width: 95%;
    height: auto;
	text-align: center;
}

#imgsrc {
    font-size: 10px;
    font-family: monospace;
    inline-size: 33%;
    overflow-wrap: break-word;
    margin-left: 18%;
	margin-bottom: 10%;
    background-color: white;
}

img {
    width: 60%;
    height: auto;
    margin-left: 3%;
    border-color: #ffacdd;
    padding: 2%;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    display: table;
    margin: auto;
} 

#paragraphbox {
	margin-bottom: 5%;
    margin-left: 5%;
    width: 70%;
    overflow-wrap: break-word;
    display: table;
    margin: auto;
}

#populardishes {
    overflow-wrap: break-word;
	background-color: white;
	margin-left: 3%;
	margin-right: 2%;
}


p, h2, ul, li {
    padding: 1%;
    background-color: white;
    width: 98%;
    overflow-wrap: break-word;
    margin-left: 3%;
    font-family: Calibri, Karla, sans-serif;
    font-size: 25px;
}

h2 {
	margin-bottom: 0%;
	padding-top: 3%;
}

li {
	margin-top: 0.01%;
}


#topcontainer {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 4%;
    background-color: #fff6fb;
    width: 20%;
    padding: 0.5%;   
}

#topcontainertext {
    background-color: transparent;
    font-size: 20px;
    font-family: Karla, Calibri, sans-serif;
}

#Bottom {
    padding-top: 5%;
    padding: 1%;
    background-color: #ffe9f6;
    width: 100%;
    font-family: Karla, Calibri, sans-serif;
}

#credits {
    font-size: 20px;
    margin-left: 3%;  
	background-color: transparent;
}

#aboutme {
    font-size: 20px;
    margin-top: 3%;
    margin-left: 3%;
	background-color: transparent;
}


#w3c {
    width: 10%;
    padding: 0%;
    margin-left: 3%;
    margin-top: 5%;  
}

#css {
    width: 9.7%;
    padding: 0%;
    margin-left: 3%;
    margin-top: 5%;
}