/* Selects the "body" element and sets its background colour*/
body {
    background-color: #fbffe6;
}

/* Selects the main heading;
   sets its font family, font colour, distance from the left edge of the page, background colour, width, and height;
   positions the text it contains in the centre
*/
h1 {
	font-family: "Lucida Handwriting", "Monoline Script", cursive;
    color: #ff66a3;
    margin-left: 2%;
    background-color: white;
    width: 95%;
    height: auto;
	text-align: center;
}

/* Selects the "img" elements;
   sets their width, height, distance from the left edge of the page;
   sets their borders' colour, style, and width;
   sets their background colour and padding;
   positions them in the centre of the page
*/
img {
    width: 50%;
    height: auto;
    margin-left: 3%;
    border-color: #ffacdd;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    padding: 1%;
    display: table;
    margin: auto;
} 

/* Selects the element with the id "imgsrc";
   sets its font size, font family, width, distance from the left edge of the page, distance from the element below it, and background colour;
   breaks the text it contains so it stays within the box containing the element
*/
#imgsrc {
    font-size: 10px;
    font-family: monospace;
    width: 35%;
    margin-left: 23%;
	margin-bottom: 10%;
    background-color: white;
    overflow-wrap: break-word;
}

/* Selects element with the id "pargraphbox";
   sets its distance from the element below it and distance from the left edge of the page;
   breaks the text it contains so it stays within the box containing the element;
   positions the selected elements in the centre of the page
*/
#paragraphbox {
	margin-bottom: 5%;
    margin-left: 5%;
    width: 70%;
    overflow-wrap: break-word;
    display: table;
    margin: auto;
}

/* Selects the element with the id "populardishes";
   breaks the text it contains so it stays within the box containing the element;
   sets its background colour, distance from the left edge of the page, and distance from the right edge of the page
*/
#populardishes {
    overflow-wrap: break-word;
	background-color: white;
	margin-left: 3%;
	margin-right: 2%;
}

/* Selects the secondary heading, and the paragraph, unordered list, and list item elements;
   sets their padding, background colour, width, distance from the left edge of the page, font family, and font size;
   breaks the text it contains so it stays within the box containing the element;
*/
h2, p, ul, li {
    padding: 1%;
    background-color: white;
    width: 98%;
    margin-left: 3%;
    font-family: Calibri, Karla, sans-serif;
    font-size: 20px;
    overflow-wrap: break-word;
}
    
/* Selects the secondary heading; 
   sets its distance from the element below it, its padding from the top and bottom of the box it is in, and its font size
*/
h2 {
	margin-bottom: 0%;
	padding-top: 3%;
	padding-bottom: 0%;
	font-size: 27px;
}

/* Selects the list item elements;
   sets their distance from the element above them;
*/
li {
	margin-top: 0.01%;
}

/* Selects the element with the id "firstitem";
   sets its padding from the top of the box it is in
*/
#firstitem {
	padding-top: 0%;
}

/* Selects the element with the id "topcontainer";
   sets its distance from the elements above and below it;
   sets its background colour, width, padding, font family, and font-size
*/
#topcontainer {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 4%;
    background-color: #fff6fb;
    width: 20%;
    padding: 0.5%;
    font-family: Karla, Calibri, sans-serif;
    font-size: 20px;
}

/* Selects the element with the id "topcontainertext";
   sets its background colour, font size, and font family
*/
#topcontainertext {
    background-color: transparent;
    font-size: 20px;
    font-family: Karla, Calibri, sans-serif;
}

/* Selects the element with the id "Bottom";
   sets its padding, background colour, width, and font-family;
*/
#Bottom {
    padding: 1%;
    background-color: #ffe9f6;
    width: 100%;
    font-family: Karla, Calibri, sans-serif;
}

/* Selects the element with the id "credits";
   sets its font size, distance from the left edge of the page, and its background colour
*/
#credits {
    font-size: 20px;
    margin-left: 3%;  
    background-color: transparent;
}

/* Selects the element with the id "aboutme";
   sets its font size, distance from the left edge of the page, distance from the element above it, and its background colour
*/
#aboutme {
    font-size: 20px;
    margin-top: 3%;
    margin-left: 3%;
    background-color: transparent;
}

/* Selects the element with the id "w3c";
   sets its width, padding, distance from the left edge of the page, and distance from the element above it
*/
#w3c {
    width: 10%;
    padding: 0%;
    margin-left: 3%;
    margin-top: 5%;  
}

/* Selects the element with the id "css";
   sets its width, padding, distance from the left edge of the page, and distance from the element above it
*/
#css {
    width: 9.7%;
    padding: 0%;
    margin-left: 3%;
    margin-top: 5%;
}