h1, h2, h3 {
    font-family: "Lucida Handwriting", "Monoline Script", cursive;
    color: #ff66a3;
    margin-left: 2%;
    background-color: white;
    width: 95%;
    height: auto;
    text-decoration: bold; 
}

h1 {
    font-size: 20px;
    padding: 2%;
    text-align: center;
    width: 93%;
}

h2 {
    font-size: 20px;
    padding: 1%;
    text-align: center;
}

h3 {
    font-size: 30px;
    margin-top: 10%;
    margin-left: 3%;
    text-decoration: underline;
    text-align: center;
    padding: 3%;
    width: 90%;
    
}

#tastebudtown {
    font-size: 120px;
    text-decoration: underline;
    overflow-wrap: break-word;
    width: 93%;
}

h4 {
    font-family: Raleway, Poppins, sans-serif;
    font-size: 22px;
    background-color: white;
    text-align: center;
    padding: 1.5%;
}

img {
    width: 60%;
    height: auto;
    margin-left: 3%;
    border-color: #ffacdd;
    padding: 2%;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    display: table;
    margin: auto;
} 


.dessertbox {
    padding: 3%;
    
}

.imgsrc {
    font-size: 10px;
    font-family: monospace;
    inline-size: 33%;
    overflow-wrap: break-word;
    margin-left: 23%;
    background-color: white;
}

#topcontainer {
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 6%;
    background-color: #fff5fb;
    width: 20%;
    
}

#Bottom {
    padding-top: 5%;
    padding: 1%;
    background-color: #ffe9f6;
    padding: 5%;
    width: 100%;
}

body {
    background-color: #fbffe6;
}

#credits {
    font-size: 20px;  
}

#aboutme {
    font-size: 20px;
    margin-top: 3%;
}


#w3c {
    width: 10%;
    padding: 0%;
    margin-left: 0.1%;
    margin-top: 5%;  
}

#css {
    width: 9.7%;
    padding: 0%;
    margin-left: 0.1%;
    margin-top: 5%;
}


